<div class="movie_rate">
    <div class="rating_desc"><p>Your Vote :</p></div>
    <form action="" class="sky-form">
        <fieldset>
            <section>
                <div class="rating">
                    <input type="radio" name="stars-rating" id="stars-rating-5">
                    <label ng-click="updateFn({rating: '5'})" for="stars-rating-5"><i class="icon-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-4">
                    <label ng-click="updateFn({rating: '4'})" for="stars-rating-4"><i class="icon-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-3">
                    <label ng-click="updateFn({rating: '3'})" for="stars-rating-3"><i class="icon-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-2">
                    <label ng-click="updateFn({rating: '2'})" for="stars-rating-2"><i class="icon-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-1">
                    <label ng-click="updateFn({rating: '1'})" for="stars-rating-1"><i class="icon-star"></i></label>
                </div>
            </section>
        </fieldset>
    </form>
    <div class="clearfix"> </div>
</div>